# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. SQL (Structured Query Language)

Some of the commonly used libraries used by Data Scientists include:

* Python:
1. Pandas
2. NumPy
3. MatPlotlib
4. TensorFlow

* R:
1. ggplot2

* Scala:
1. Vegas
2. BigDL

| Data Science Tools |
| ------------------ |
| Jupyter |
| Apache Zeppelin |
| Rstudio |

### Below are a few examples of evaluating arithmetic expressions in Python:

* 5 + 3
  
* 20 / 5
  
* a = 10
  b = 5
  result = a + b * 2
  
* (10 + 5) * 2

In [3]:
# This cell demonstrates simple arithmetic expression involving addition and multiplication.

(3*4)+5

17

In [5]:
# This cell contains code to convert 200 hours to minutes by dividing 200 hours by 60.

hours = 200
minutes = 200/60
print(round(minutes, 2))

3.33

**Objectives:**

* List popular Data Science tools
* List popular Data Science languages
* List popular Data Science libraries
* Demonstrate simple arithmetic expression

## Author

Tanishq Verma